__pycache__
build
dist
pyirsdk.egg-info
MANIFEST
*.pyc
*.bin
*.txt
test_*.py
*.ibt
tutorial_*.py
setup.cfg
*.bat
.vs/pyIRapk/FileContentIndex/5bc80e0f-2e31-4003-98ef-e2928d8bbc12.vsidx
.vs/pyIRapk/FileContentIndex/c3f92c7a-eab9-4ce5-aea4-9b1351aaeba2.vsidx
.vs/pyIRapk/FileContentIndex/d14eb868-eaf6-4fb5-9224-826dca584185.vsidx
.vs/pyIRapk/FileContentIndex/ebff740d-2e4b-4a45-a8d5-8c68a0cb139b.vsidx
.vs/pyIRapk/FileContentIndex/d14eb868-eaf6-4fb5-9224-826dca584185.vsidx
.vs/pyIRapk/v17/.wsuo
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/pyIRapk/FileContentIndex/d14eb868-eaf6-4fb5-9224-826dca584185.vsidx

.vs/pyIRapk/v17/

*.sqlite
